{
  "branches": [
    "main"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/exec",
      {
        "verifyReleaseCmd": "echo \"__version__='${nextRelease.version}'\" > version.py"
      }
    ],
    "@semantic-release/github",
    "@semantic-release/git"
  ]
}
