{
  "branches": [
    "main"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/github",
      [
      "@semantic-release/exec",
      {
        "successCmd": "echo ${nextRelease.version} > VERSION.txt && git add VERSION.txt && git commit -m 'chore(release): update VERSION.txt to ${nextRelease.version}' && git push"
      }
    ],
    "@semantic-release/git"
  ]
}
